<div class="center" >
  <h2>Available Options for "<%= @event.name %>":</h2>
    <% @event.event_options.each do |e| %>
      <p><strong>Name:</strong> <%= e.name %> </p>
      <p><strong>Description:</strong> <%= e.description %></p>
      <p><strong>Price:</strong> <%= e.price %></p>
</div>

<div class = "center row">  
  <h3>Book this event now!</h3>
    <div class = "container">
      <%= form_for @event do |f| %>
      <div class = "field">
        <%= f.label :choose_your_date %>
        <%= f.text_field :date %>
      </div>
      <% end %>
    </div>
    <% end %> 
 </div>

 <div class = "center" id= "gallery">
  <h2>Super Happy Funtime Photos!</h2>
    <p>Eventually, this will be a paginated grid of images from each individual event!</p>
  </div>

